
/*<-------DARK COLORS-------->*/

$primary:       #D3BC8D;
$secondary:     #adbbc9;
$tiertary:      rgb(53, 53, 53);
$quaternary:    #151515;
$base:          black;
$accent:        $primary;

.primary {
    color:  $primary !important;
}

.secondary {
    color: $secondary !important;
}

.tiertary {
    /* color: rgb(49, 46, 70) !important; */
    color: $tiertary !important;
}

.tiertary-light {
    color: $quaternary !important;
}

.quaternary {
    color: $quaternary !important;
}

.base {
    color: $base !important
}

.accent {
    color: $accent !important;
}

.primary-background {
    background-color:  $primary !important;
}

.secondary-background {
    background-color: $secondary !important;
}

.tiertary-background {
    background-color: $tiertary !important;
}

.tiertary-light-background {
    background-color: $quaternary !important;
}

.quaternary-background {
    background-color: $quaternary !important;
}

.base-background {
    background-color: $base !important;
}

.accent-background {
    background-color: $accent !important;
}

.primary-fill {
    fill: $primary;
}

.secondary-fill {
    fill: $secondary;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke:  $base !important;
}

.mat-progress-bar-fill::after {
    background-color: $primary !important;
}

.mat-progress-bar-buffer {
    background-color: $tiertary !important;
}

/*-----------TEAM COLORS----------*/
$red:               $primary;
$ruby:              $primary;
$burgundy:          $primary;
$amaranth-red:      $primary;
$orange:            $primary;
$brown:             $primary;
$teal:              $primary;
$star-command-blue: $primary;
$carolina-blue:     $primary;
$blue:              $primary;
$air-force-blue:    $primary;
$navy:              $primary;
$midnight-blue:     $primary;
$violet:            $primary;
$purple:            $primary;
$eerie-black:       $primary;
$tan:               $primary;
$gold:              $primary;
$yellow:            $primary;
$olive:             $primary;
$lime-green:        $primary;
$green:             $primary;
$midnight-green:    $primary;
$jungle-green:      $primary;
$grey:              $primary;

.ruby               { color: $ruby; }
.burgundy           { color: $burgundy; }
.teal               { color: $teal; }
.carolina-blue      { color: $carolina-blue; }
.star-command-blue  { color: $star-command-blue; }
.air-force-blue     { color: $air-force-blue; }
.midnight-blue      { color: $midnight-blue; }
.eerie-black        { color: $eerie-black; }
.jungle-green       { color: $jungle-green; }
.orange             { color: $orange; }
.brown              { color: $brown; }
.amaranth-red       { color: $amaranth-red; }
.violet             { color: $violet; }
.red                { color: $red; }
.blue               { color: $blue; }
.navy               { color: $navy; }
.tan                { color: $tan; }
.midnight-green     { color: $midnight-green; }
.gold               { color: $gold; }
.lime-green         { color: $lime-green; }
.grey               { color: $grey; }
.olive              { color: $olive; }
.green              { color: $green; }
.yellow             { color: $yellow; }
.purple             { color: $purple; }

.ruby-background                { background-color: $ruby; }
.burgundy-background            { background-color: $burgundy; }
.teal-background                { background-color: $teal; }
.carolina-blue-background       { background-color: $carolina-blue; }
.star-command-blue-background   { background-color: $star-command-blue; }
.air-force-blue-background      { background-color: $air-force-blue; }
.midnight-blue-background       { background-color: $midnight-blue; }
.eerie-black-background         { background-color: $eerie-black; }
.jungle-green-background        { background-color: $jungle-green; }
.orange-background              { background-color: $orange; }
.brown-background               { background-color: $brown; }
.amaranth-red-background        { background-color: $amaranth-red; }
.violet-background              { background-color: $violet; }
.red-background                 { background-color: $red; }
.blue-background                { background-color: $blue; }
.navy-background                { background-color: $navy; }
.tan-background                 { background-color: $tan; }
.midnight-green-background      { background-color: $midnight-green; }
.gold-background                { background-color: $gold; }
.lime-green-background          { background-color: $lime-green; }
.grey-background                { background-color: $grey; }
.olive-background               { background-color: $olive; }
.green-background               { background-color: $green; }
.yellow-background              { background-color: $yellow; }
.purple-background              { background-color: $purple; }