<nav-bar
    [title] ="'Standings'">
</nav-bar>
<div id="standings-card" class="standings-in-animation base-background secondary" *ngIf="!showUserPicks">

  <div *ngFor="let standing of standings, let i = index">
      <div 
        class="standing-card quarternary-background base"
        (click)="getUserPicks(standing)"
        [ngClass]="{
          'base':standing.user_id == currentUser.user_id, 
          'primary-background':standing.user_id == currentUser.user_id
        }">
        <div class="rank">
          {{standing.ranking}}
        </div>
        <div class="user">
          {{standing.user_intis}}
        </div>
        <div class="wins">
          {{standing.wins}}
        </div>
        <div class="picks">
          {{standing.picks}}
        </div>
        <div class="win_pct">
          {{standing.win_pct | number:'1.3-3'}}
        </div>
      </div>
  </div>
</div>
<div *ngIf="showUserPicks">
  <div class="pick-header base-background tiertary" (click)="back()">
      <mat-icon class="week-arrow-icon secondary">
          keyboard_arrow_left
      </mat-icon>
      <div class="pick-title secondary">
        {{otherUser.first_name}} {{otherUser.last_name}}
      </div>
  </div>
  <app-my-picks-dashboard
  [otherUser]="otherUser.user_id"></app-my-picks-dashboard>
</div>