<div class="title">
  Standings
</div>
<div id="standings-card" class="standings-in-animation body-color-secondary">
  <div class="standing-card-header accent-color-tietary standing-card-header-animation">
    <div class="standing-info">
        <div class="field-small">
            RANK
          </div>
      <div class="field">
        NAME
      </div>
      <div  class="field">
        WINS
      </div>
      <div  class="field">
        PICKS
      </div>
      <div  class="field">
        PCT
      </div>
    </div>
  </div>
  <div class="standing-card body-color-primary standing-card-animation">
      <div class="standing-info">
        <div class="field-small">
            1
          </div>
        <div class="field">
          pskorski
        </div>
        <div  class="field">
          16
        </div>
        <div  class="field">
          26
        </div>
        <div  class="field">
          0.615
        </div>
      </div>
    </div>
    <div class="standing-card body-color-primary standing-card-animation">
        <div class="standing-info">
            <div class="field-small">
                2
              </div>
          <div class="field">
            mskorski
          </div>
          <div  class="field">
            16
          </div>
          <div  class="field">
            35
          </div>
          <div  class="field">
            .457
          </div>
        </div>
      </div>
</div>