<div class="game-card game-card-animation body-color-primary" attr.id={{game.id}}-game-card>
  <div style="width: 100%" *ngIf="showSubmitTime">
    <div class="game-card-date">
      <div *ngIf="game.progress == 'UNPLAYED'" class="date-text">
        {{game.submitDate}}
      </div>
      <div *ngIf="game.progress == 'INPROGRESS'" class="date-text">
        Game in Progress
      </div>
      <div *ngIf="game.progress == 'COMPLETED'" class="date-text">
        Final
      </div>
    </div>
  </div> 
  <div class="team-group" *ngIf="teams.length > 0">
    <team
      *ngIf = "teams.length > 0"
      [team] = "getTeam(game.awayTeam)"
      [score] = "game.awayScore"
      [title] = "'AWAY'"
      [progress] = "game.progress"
      (click)="selectTeam(game.awayTeam, game)">
    </team>
    <pick-status
      class="pick-status"
      [pickSuccess]="pickSuccess"
      [game]="game">
    </pick-status>
    <team 
      *ngIf = "teams.length > 0"
      [team] = "getTeam(game.homeTeam)"
      [score] = "game.homeScore"
      [title] = "'HOME'"
      [progress] = "game.progress"
      (click)="selectTeam(game.homeTeam, game)">
    </team>
    <div class="game-card-spread">
      <div class="game-card-spread-icon">{{getGameSpread(game.spread)}}</div>
    </div>
  </div>
</div>
