<div style="width: 100%">
  <div class="game-card-date">
    <div class="date-text primary">
      {{ timeStatus() }}
    </div>
  </div>
</div> 
<div class="game-card base-background secondary" attr.id={{game.game_id}}-game-card>
  <div style="width: 100%">
    <div class="game-card-date">
      <div class="date-text primary">
        <!-- {{ timeStatus() }} -->
      </div>
    </div>
  </div> 
  <div class="team-group" *ngIf="teams.length > 0">
    <team
      *ngIf = "teams.length > 0"
      [team] = "away_team"
      [score] = "game.away_team_score"
      [title] = "'AWAY'"
      [gameLocked] = "gameLocked()"
      (click)="selectTeam(away_team)">
    </team>
    <pick-status
      class="pick-status base-background"
      [pickSuccess]="pickSuccess"
      [game]="game">
    </pick-status>
    <team 
      *ngIf = "teams.length > 0"
      [team] = "home_team"
      [score] = "game.home_team_score"
      [title] = "'HOME'"
      [gameLocked] = "gameLocked()"
      (click)="selectTeam(home_team)"
      (teamLoaded)="teamLoadedEvent($event)">
    </team>
    <div class="game-card-spread base-background">
      <div class="game-card-spread-icon primary">{{getGameSpread(game.home_spread)}}</div>
    </div>
  </div>
  <div class="picks-data-container primary">
    <div class="pick-data">
      <mat-icon class="pick-data-icon">
        people_alt
      </mat-icon>
      <div class="pick-data-icon">
        10
      </div>
    </div>
    <div class="pick-data">
      <mat-icon class="pick-data-icon">
        people_alt
      </mat-icon>
      <div class="pick-data-icon">
        6
      </div>
    </div>
  </div>
</div>
