.picks-chart-card {
    background: linear-gradient(to right, #f857a6, #ff5858);
    border-radius: 24px;
    margin:10px;
    padding:5px; 
}

.progress-container {
    background-color: #ffffff78;
    border-radius:8px;
    margin: 10px;
}

.picks-progress {
    background-color: white;
    border-radius:8px;
    width:25%;
    height:24px;
}

.progress-count {
    text-align: center;
    font-size: 1em;
    color: grey;
    padding-top: 4px;
}

.pick-progress-text {
    font-size: 1.5em;
    color:white;
    margin:10px;
}

.pick-count-container {
    display: flex;
    justify-content: center;
}

.pick-count-text {
    margin-top:5%;
    text-align: left;
    color: white;
    font-size: 1.5em;

}