.pick-status-open {
	background-color: white;
}

.pick-status-close {
	color: #d14c17;
	background-color: white;
}

.pick-status-success {
	color: green;
	background-color: white;
}

.pick-status-wrong {
	color: rgb(228, 46, 46);
	background-color: white;
}

.pick-status-push {
	color: grey;
	background-color: white;
}

.pick-icon {
    border: solid 2px;
    border-radius: 50%;
    height: 25px;
    padding: 10px;
}