.team-card{
	border-radius: 18px;
	width: 150px;
	height: 135px;
	float: left;
	margin-right: 5%;
	border: solid 1px;
}

@media only screen and (min-width: 950px) {
	.team-card {
		width: 300px;
	}
}

@media only screen and (min-width: 1200px) {
	.team-card {
		width: 400px;
	}
}

@media only screen and (min-width: 1500px) {
	.team-card {
		width: 550px;
	}
}

.large-text{
	font-size:2em; 
	margin:0; 
	text-align:center;
}

.large-text-padding{
	font-size:2em;
	margin: 10px; 
	text-align:center;
}

.small-text-middle{
	font-size:1em; 
	margin:0; 
	text-align:center;
}

.location {
	margin-left:10px;
}