<div 
  attr.id="{{team.team_id}}-team-card" 
  class="quaternary-background" 
  [ngClass]="{
    'team-card-medium': size == 'medium',
    'team-card': size == null
  }">
    <div 
      *ngIf="!gameLocked"
      attr.id="{{team.team_id}}-team-info"
      class="team-info {{team.display_color}} disabled">
      <div class="large-text-padding">{{score}}</div>
      <div class="small-text-middle">{{team.abbreviation}}</div>
    </div>
    <div 
      *ngIf="gameLocked" 
      attr.id="{{team.team_id}}-team-info" 
      class="team-info {{team.display_color}}"
      [ngClass]="{
        'team-info-medium' : size == 'medium',
        'team-info': size == null,
        'highlight-team': highlight
      }">
      <p class="large-text">{{team.abbreviation}}</p>
    </div>
</div>
<div *ngIf="spread != null" class="game-card-spread tiertary base-background">
  <div class="game-card-spread-icon primary base-background">
    <b>
      {{getGameSpread(spread)}}
    </b>
  </div>
</div>

