<div attr.id="{{team.team_id}}-team-card" class="team-card quaternary-background">
    <div *ngIf="!gameLocked" attr.id="{{team.team_id}}-team-info" class="team-info {{team.display_color}}">
      <div class="large-text-padding">{{score}}</div>
      <div class="small-text-middle">{{team.abbreviation}}</div>
    </div>
    <div *ngIf="gameLocked" attr.id="{{team.team_id}}-team-info" class="team-info {{team.display_color}}">
      <p class="large-text">{{team.abbreviation}}</p>
    </div>
</div>
<div *ngIf="spread != null" class="game-card-spread tiertary base-background">
  <div class="game-card-spread-icon primary base-background">
    <b>
      {{getGameSpread(spread)}}
    </b>
  </div>
</div>

