<button 
  mat-button
  [disabled]="tabable"
  attr.id="{{team.team_id}}-team-card"
  [className]="getTeamCardClass()">
    <div 
      *ngIf="!gameLocked"
      attr.id="{{team.team_id}}-team-info"
      [className]="getTeamInfoClass()">
      <div class="large-text-padding">{{score}}</div>
      <div class="small-text-middle">{{team.abbreviation}}</div>
    </div>
    <div 
      *ngIf="gameLocked" 
      attr.id="{{team.team_id}}-team-info" 
      class="team-info {{team.display_color}}"
      [ngClass]="{
        'team-info-medium' : size == 'medium',
        'team-info': size == null,
        'highlight-team': highlight
      }">
      <p class="large-text">{{team.abbreviation}}</p>
    </div>
  </button>
<div *ngIf="spread != null" class="game-card-spread tiertary base-background">
  <div class="game-card-spread-icon accent base-background">
    <b>
      {{getGameSpread(spread)}}
    </b>
  </div>
</div>

