.team-card{
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 18px;
	width: 150px;
	height: 110px;
	float: left;
	margin-right: 5%;
}

.team-info {
	border-radius: 18px;
	width: 140px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.large-text{
	font-size:2em; 
	margin:0; 
	text-align:center;
}

.large-text-padding{
	font-size:2em;
	margin: 10px; 
	text-align:center;
}

.small-text-middle{
	font-size:1em; 
	margin:0; 
	text-align:center;
}

.location {
	margin-left:10px;
}