<div class="nav-title">
    <mat-icon class="close-menu-icon" (click)="toggle()">clear</mat-icon>
    <img class="icon" [src]="getLogo()">
</div>
<div class="user-header">
  Welcome,<b> &nbsp; {{user.first_name}} {{user.last_name}}</b>
</div>
<app-user-stats></app-user-stats>
<div class="separator tiertary"></div>
<div class="sidenav-opt" id="weekly-games" (mouseover) = "mouseover($event)"
(mouseout)="mouseout($event)" >
  <nav>
    <mat-icon class="sidenav-icon">sports_football</mat-icon>
    <a (click)="toggle(); navigateToPage('games')">Games</a>
  </nav>
</div>
<div class="sidenav-opt" id="standings" (mouseover) = "mouseover($event)"
(mouseout)="mouseout($event)" >
  <nav>
    <mat-icon class="sidenav-icon">view_list</mat-icon>
    <a (click)="toggle(); navigateToPage('standings')">Standings</a>
  </nav>
</div>
<div class="sidenav-opt" id="messages" (mouseover) = "mouseover($event)"
(mouseout)="mouseout($event)" >
  <nav>
    <mat-icon class="sidenav-icon">email</mat-icon>
    <a (click)="toggle(); navigateToPage('messages'); goToMessagePage()">Messages</a>
    <div *ngIf="messageCount != 0" class="notification-chip failure-background base">{{ messageCount }}</div>
  </nav>
</div>
<div class="sidenav-opt" id="profile" (mouseover) = "mouseover($event)"
(mouseout)="mouseout($event)" >
  <nav>
    <mat-icon class="sidenav-icon">person</mat-icon>
    <a (click)="toggle(); navigateToPage('profile'); goToMessagePage()">Profile</a>
  </nav>
</div>
<!-- Uncomment when new workspace ready -->
<!-- <div class="sidenav-opt" id="shit-chat" (mouseover) = "mouseover($event)"
(mouseout)="mouseout($event)" >
  <nav>
    <mat-icon class="sidenav-icon">sports_kabaddi</mat-icon>
    <a (click)="toggle(); goToChatPage()">S*** Chat</a>
  </nav>
</div> -->
