.nav-title {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
    padding: 10px;
    width: 85%;
}

.user-header {
    display: flex;
    font-size: 1.3em;
    padding: 10px;
    justify-content: center;
}

.logo {
	transform: scale(0.3);
}

.close-menu-icon {
    transform: scale(1.2);
}

.nav-text-title {
	padding: 10px;
	font-size: 2em;
	margin-bottom:10px;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left:5px;
}

a {
	width:90%;
  	padding: 5px 10px;
	margin-right:5px;
	display: inline-block;
	font-size: 1.5em;
	text-align:left;
	text-decoration: none;
}

.sidenav-opt{
    display: flex;
    align-items: center;
	margin-left: 40px;
	margin-top: 15px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 20px;
	border-radius: 4px;
	margin-right: 10px;
	margin-left: 10px;
}

.sidenav-icon {
	transform: scale(1.5);
}

.icon {
	width: 50px;
}

.notification-chip {
	border-radius: 16px;
    padding: 5px;
    margin: 5px;
    width: 50px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.separator {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid;
}

.logout-button {
    color: rgb(228, 46, 46);
    border-radius: 4px;
	cursor: pointer;
    border: solid 1px;
    margin:20px;
    width: 100%;
}

.logout-container {
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	height: 100px;
}