<div class="toggle-picks-container" *ngIf="!hideToggle">
    <div class="toggle-container tiertary-light-background">
        <button mat-button (click)="toggleView('games')" class="toggle-button secondary" [ngClass]="{'primary-background base':view == 'games'}">Games</button>
        <button mat-button (click)="toggleView('picks')" class="toggle-button secondary" [ngClass]="{'primary-background base':view == 'picks'}">Picks</button>
    </div>
</div>
<div class="toggle-picks-container" *ngIf="spectator">
    <div class="spectator-container warn-background">
        <mat-icon class="base spectator-icon">
            face
        </mat-icon>
        <span class="base">
            Spectator Mode
        </span>
    </div>
</div>
<div class="week-content" *ngIf="weeksView == false">
    <div class="week-header-container">
        <div class="week-header-next base-background tiertary" (click)="weekPrev()" *ngIf="showWeekPrev()">
            <mat-icon class="week-arrow-next-icon secondary">
                navigate_before
            </mat-icon>
        </div>
        <div class="week-header base-background tiertary" (click)="showWeeks()">
            <div class="week-title secondary">
                Week {{number}}
            </div>
            <mat-icon class="week-arrow-icon secondary">
                keyboard_arrow_up
            </mat-icon>
        </div>
        <div class="week-header-next base-background tiertary" (click)="openThread()" *ngIf="!showWeekNext()">
            <mat-icon class="week-chat-icon secondary">
                insert_comment
            </mat-icon>
        </div>
        <div class="week-header-next base-background tiertary" (click)="weekNext()" *ngIf="showWeekNext()">
            <mat-icon class="week-arrow-next-icon secondary">
                navigate_next
            </mat-icon>
        </div>
    </div>
    <ng-content></ng-content>
</div>
<div id="weeks-container" *ngIf="weeksView == true">
    <div *ngFor="let weekCard of weeks" class="week-card week-cards base-background tiertary week-cards-animation" id="{{weekCard.id}}-week-cards" (click) = "weekSelected(weekCard.number)">
        <div class="week-title secondary">
            Week {{weekCard.number}}
        </div>
        <mat-icon class="week-arrow-icon secondary">
            keyboard_arrow_down
        </mat-icon>
    </div>
</div>