<div class="title accent-primary">
    {{title}}
</div>
<div *ngIf="weeksView == false">
    <div class="toggle-picks-container">
        <mat-button-toggle-group>
            <mat-button-toggle class="toggle-pick" value="games" (click)="toggleView('games')" [ngClass]="{'accent-color-primary-background':view == 'games'}">games</mat-button-toggle>
            <mat-button-toggle class="toggle-pick" value="picks" (click)="toggleView('picks')" [ngClass]="{'accent-color-primary-background':view == 'picks'}">picks</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div id="week-card" class="week-card week-in-animation body-color-secondary">
        <div class="week-header" (click)="showWeeks()">
            <div class=week-title>
                Week {{number}}
            </div>
            <mat-icon class="week-arrow-icon">
                keyboard_arrow_up
            </mat-icon>
        </div>
        <ng-content></ng-content>
    </div>
</div>
<div id="weeks-container" *ngIf="weeksView == true">
    <div *ngFor="let weekCard of weeks" class="week-card week-cards body-color-secondary week-cards-animation" 
    id="{{weekCard.id}}-week-cards" (click) = "weekSelected(weekCard.number)">
        <div class="week-title">
            Week {{weekCard.number}}
        </div>
        <mat-icon class="week-arrow-icon">
            keyboard_arrow_right
        </mat-icon>
    </div>
</div>