@keyframes weekCardsAnimation {
	0%{margin-top:100px;opacity:0;}
	100%{margin-top:20px; opacity: 1}
}

@keyframes weekCardAnimationOut {
	0%{margin-top:10px; opacity: 100;}
	100%{margin-top:1000px; opacity: 0;}
}

/* .week-cards-animation {
	animation-name:weekCardsAnimation;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
}*/

/* .week-in-animation {
	animation-name:weekCardAnimationIn;
	animation-timing-function: ease-in-out;
	animation-duration: .75s;
} */

.week-out-animation {
	animation: forwards;
	animation-name:weekCardAnimationOut;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

.week-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.week-cards:hover{
	box-shadow: 5px 5px 10px -5px grey;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

.week-card {
	padding: 2px;
	border-radius: 18px;
	margin: 10px;
	cursor: pointer;
}

.week-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.week-title {
	margin-top: 20px;
	font-size:2em;
    margin: 20px;
}

.week-arrow-icon {
	transform: scale(2);
	margin:20px;
}

.toggle-picks-container {
	display: flex;
	justify-content: center;
}

.toggle-button {
    border-radius: 8px;
	cursor: pointer;
    width: 100px;
}

.toggle-container {
	border-radius: 8px;
	background-color: white;
}