<div class="title primary">
    {{title}}
</div>
<div *ngIf="weeksView == false">
    <div class="toggle-picks-container">
        <div class="toggle-container base-background">
            <button mat-button (click)="toggleView('games')" class="toggle-button secondary" [ngClass]="{'primary-background base':view == 'games'}">games</button>
            <button mat-button (click)="toggleView('picks')" class="toggle-button secondary" [ngClass]="{'primary-background base':view == 'picks'}">picks</button>
        </div>
    </div>
    <div id="week-card" class="week-card week-in-animation base-background secondary">
        <div class="week-header" (click)="showWeeks()">
            <div class=week-title>
                Week {{number}}
            </div>
            <mat-icon class="week-arrow-icon">
                keyboard_arrow_up
            </mat-icon>
        </div>
        <ng-content></ng-content>
    </div>
</div>
<div id="weeks-container" *ngIf="weeksView == true">
    <div *ngFor="let weekCard of weeks" class="week-card week-cards base-background secondary week-cards-animation" 
    id="{{weekCard.id}}-week-cards" (click) = "weekSelected(weekCard.number)">
        <div class="week-title">
            Week {{weekCard.number}}
        </div>
        <mat-icon class="week-arrow-icon">
            keyboard_arrow_right
        </mat-icon>
    </div>
</div>