@keyframes weekCardsAnimation {
	0%{margin-top:100px;opacity:0;}
	100%{margin-top:20px; opacity: 1}
}

@keyframes weekCardAnimationOut {
	0%{margin-top:10px; opacity: 100;}
	100%{margin-top:1000px; opacity: 0;}
}

.week-out-animation {
	animation: forwards;
	animation-name:weekCardAnimationOut;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

.week-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.week-card {
	padding: 2px;
	border-radius: 8px;
	margin: 10px;
	cursor: pointer;
	border: 1px solid;
}

.week-header-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}

.week-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	margin: 3px;
	cursor: pointer;
	border: 1px solid;
	width: 100%;
}

.week-header-next {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 8px;
	margin: 3px;
	cursor: pointer;
	border: 1px solid;
}

.week-title {
	font-size:1.5em;
    margin: 15px;
}

.week-arrow-icon {
	transform: scale(1.5);
	margin:15px;
}

.week-arrow-next-icon {
	transform: scale(1);
	margin:10px;
}

.toggle-picks-container {
	display: flex;
	justify-content: center;
	padding-bottom:10px;
}

.toggle-button {
    border-radius: 4px;
	cursor: pointer;
    width: 100px;
}

.toggle-container {
	border-radius: 4px;
}

@media only screen and (min-width: 650px) {
	.week-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (min-width: 650px) {
	.week-header {
        min-width: 650px;
	}
}

@media only screen and (min-width: 650px) {
	#weeks-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (min-width: 650px) {
	.week-card {
        min-width: 650px;
	}
}