<weeks 
    [title] = "'WEEKLY GAMES'"
    [number] = "week.number">
    <game *ngFor="let game of games, let i = index"
        [game] = "game"
        [showSubmitTime] = "showSubmitTime(i)"
        [submitOpened] = "submitOpened"
        [pickSuccess]="null"
        (openSubmit) = "teamClicked($event)"
        (stageSelectedPick) = "stageSelectedPick($event)">
    </game>
    <div id="submit-container">
        <mat-icon id="submit-icon" (click)="showSubmit()">call_made</mat-icon>
        <button mat-raised-button id="submit-button" class="accent-color-primary" (click)="openDialog()">
        submit
        </button>
    </div>
</weeks>