#submit-container {
    position: fixed;
	bottom: -65px;
	width: 100%;
	height: 65px;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	display:flex;
}

#submit-button {
    border-radius: 8px;
	margin: 10px;
	width: 100%;
}

#submit-icon {
	padding-top:14px;
	margin-left:4%;
	transform: scale(1.5);
	cursor: pointer;
}

.no-games-set {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	height: 250px;
	margin-top:20%;
}

.small-height {
	height: 64px;
}

.large-height {
	height: 500px;
}

.games-container {
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 665px) {
	.games-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media only screen and (min-width: 950px) {
	#submit-container {
		width: 50%;
		left: calc(15% + 300px);
	}
}

@media only screen and (min-width: 665px) {
	.game-container {
		margin: 30px;
	}
}