<weeks 
    *ngIf="(games.length > 0) && (teams.length > 0)"
    [title] = "'Weekly Games'"
    [number] = "week.number"
    [season]= "week.season"
    [view]="'games'">
    <game 
        *ngFor="let game of games, let i = index"
        [game] = "game"
        [teams] = "teams"
        [showSubmitTime] = "showSubmitTime(i)"
        [submitOpened] = "submitOpened"
        (openSubmit) = "teamClicked($event)"
        (stageSelectedPick) = "stageSelectedPick($event)"
        (teamLoaded) = "teamLoaded($event)">
    </game>
    <div id="submit-container">
        <mat-icon id="submit-icon" (click)="showSubmit()">call_made</mat-icon>
        <button mat-button id="submit-button" class="accent-color-primary" (click)="openDialog()">
        submit
        </button>
    </div>
</weeks>