#submit-container {
    position: fixed;
	bottom: 10%;
	width: 195px;
	right: -160px;
    border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	height: 60px;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	display:flex;
}

#submit-button {
    border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 10%;
}

#submit-icon {
	padding-top:14px;
	margin-left:4%;
	transform: scale(1.5);
	cursor: pointer;
}

.no-games-set {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	height: 250px;
	margin-top:20%;
}