<nav-bar
    [title] ="'Games'"
    [subtitle] = "getTitle()">
</nav-bar>
<weeks 
    [number] = "week.number"
    [season]= "week.season"
    [view]="'games'">
    <div *ngIf = "teams.length == 0 && loader" class="no-games-set">
        <mat-spinner></mat-spinner >
      </div>
    <div *ngIf = "teams.length == 0 && !loader" class="no-games-set secondary">
        No Games Set
    </div>
    <ng-container *ngIf="teams.length > 0">
        <game 
            *ngFor="let game of games, let i = index"
            [game] = "game"
            [teams] = "teams"
            [showSubmitTime] = "showSubmitTime(i)"
            [submitOpened] = "submitOpened"
            (openSubmit) = "teamClicked($event)"
            (stageSelectedPick) = "stageSelectedPick($event)"
            (teamLoaded) = "teamLoaded($event)">
        </game>
    </ng-container>
    <div style="height:65px">
    </div>
    <div id="submit-container" (click)="showSubmit()" *ngIf="!loader">
        <button mat-button id="submit-button" class="primary-background base" (click)="openDialog()">
        submit
        </button>
    </div>
</weeks>