<div class="home-container" 
  [class.mobile-view]="mobileQuery.matches"
  *ngIf="!getCurrentPageLogin()">
  
  <mat-sidenav-container  
    id="side-nav" 
    class="nav-container base-background secondary"
    (window:resize)="onResize($event)">
    
    <mat-sidenav 
      #sidenav 
      [fixedInViewport]="mobileQuery.matches" 
      mode="{{sideMenuType}}"
      [(opened)]="opened"
      class="sidenav base-background secondary"
      position="start"
      (openedChange)="sideNavChange($event)">
      <app-navigation></app-navigation>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="container-content" [@routeAnimations]="prepareRoute(outlet)" (panright)="openMenu()">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="home-container-login">
  <router-outlet *ngIf="getCurrentPageLogin()"></router-outlet>
</div>
