.example-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(235, 235, 235);
}

.background-card{
	position: absolute;
	width:100%;
	border-bottom-left-radius: 25px;
	z-index: -1;
	height: 60px;
}

h1.title {
	margin: 20px;
}

.sidenav-button-group {
	margin: 17px;
	float: left;
}

.sidenav-button {
	transform: scale(2);
}

.nav-title {
	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	border-bottom: solid lightgrey 1px;
	width:100%;
	justify-content: center;
	cursor: pointer;
	padding: 10px;
}

.nav-text-title {
	padding: 10px;
	font-size: 2em;
	margin-bottom:10px;
}

.sidenav {
	border-radius: 0px 18px 18px 0px;
	width:300px;
}

.sidenav-large {
	border-radius: 0px 18px 18px 0px;
	width:300px;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left:5px;
}

a {
	width:90%;
  	padding: 5px 10px;
	margin-right:5px;
	display: inline-block;
	font-size: 1.5em;
	text-align:left;
	text-decoration: none;
}

.sidenav-opt{
	margin-left: 40px;
	margin-top:20px;
	cursor: pointer;
	margin-left: 0px;
	padding-left: 20px;
}

.sidenav-icon {
	transform: scale(1.5);
}

.icon {
	width: 50px;
}
