.card {
	padding: 2px;
	border-radius: 18px;
	margin: 10px;
	cursor: pointer;
}

.card-header {
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
    padding: 15px;
    align-items: center;
}

.card-header-text {
	margin-top: 20px;
	font-size:2em;
    margin: 20px;
}

.card-section {
    border-radius: 18px;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
}

.info-header {
    display: flex;
    font-size: 1.5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.edit-button {
    border-radius: 8px;
	cursor: pointer;
    border: solid 1px;
}

.info-content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.field {
    font-size: 1.3em;
    padding: 5px;
    margin: 5px;
}

.info-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon-container {
    border-radius: 50%;
    height: 25px;
    padding: 10px;
}

.logout-button {
    color: rgb(228, 46, 46);
    border-radius: 8px;
	cursor: pointer;
    border: solid 1px;
    margin:20px;
    width: 60%;
}

.logout-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.init-icon {
    display: flex;
    justify-content: center;
    border: solid 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 1.5em;
}

.toggle-button {
    border-radius: 8px;
	cursor: pointer;
    width: 100px;
}

.toggle-container {
	border-radius: 8px;
}