<nav-bar
    [title] ="'Profile'">
</nav-bar>
<div class="content">
  <div class="profile-container">
    <div class="card-title base-background tiertary" *ngIf=!editSelected>
        <div class="card-header secondary">
          <div class="init-icon primary">
            {{ user.user_inits }}
          </div>
          <div class=card-header-text>
            {{user.first_name}} {{user.last_name}}
          </div>
        </div>
    </div>

    <div class="card base-background tiertary" *ngIf=!editSelected>
      <div class="card-section secondary">
          <div class="info-header">
            Stats
          </div>
          <div class="info-content">
            <app-user-stats></app-user-stats>
          </div>
      </div>
    </div>

    <div class="card base-background tiertary" *ngIf=!editSelected>
        <div class="card-section secondary">
          <div class="info-header">
            Info
            <button mat-button class="edit-button tiertary" (click)="editUser()">
                <span class="secondary">Edit</span>
            </button>
          </div>
          <div class="info-content">
            <div class="info-field">
              <div class="icon-container primary">
                <mat-icon class="primary">
                  person
                </mat-icon>
              </div>
              <div  class="field">
                {{user.user_name}}
              </div>
            </div>
            <div class="info-field">
              <div class="icon-container primary">
                <mat-icon>
                  mail
                </mat-icon>
              </div>
              <div class="field">
                {{user.email}}
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="card base-background tiertary" *ngIf=!editSelected>
      <div class="card-section secondary">
          <div class="info-header">
            Theme
          </div>
          <div class ="info-subheader">
            Default
          </div>
          <div class="info-content">
            <div class="info-field">
              <div class="icon-container primary">
                <mat-icon class="primary">
                  brightness_4
                </mat-icon>
              </div>
              <div class="toggle-container tiertary-light-background">
                  <button mat-button (click)="toggleTheme('light')" class="toggle-button secondary" [ngClass]="{'primary-background base':theme == 'light'}">Light</button>
                  <button mat-button (click)="toggleTheme('dark')" class="toggle-button secondary" [ngClass]="{'primary-background base':theme == 'dark'}">Dark</button>
              </div>
            </div>
          </div>
          <div class ="info-subheader">
            Team Themes
          </div>
          <div class="theme-content">
            <div *ngFor="let item of themeList">
              <button 
                mat-button 
                (click)="toggleTheme(item.value)" 
                class="theme-button" 
                [ngClass]="{
                  'primary-background base':theme == item.value,
                  'secondary tiertary-light-background':theme != item.value
                }">
                  {{item.name}}
                </button>
            </div>
          </div>
      </div>
    </div>

    <div class="card base-background secondary" *ngIf="editSelected">
      <app-register
        [editUser] = "editSelected"
        (registered) = "updated($event)">
      </app-register>
    </div>
  </div>
</div>