.pick-game {
    flex-direction: row;
    display: flex;
	align-items: center;
}

.myPicks-header {
	display:flex;
	justify-content: space-between;
}

.edit-button {
    border-radius: 8px;
    margin: 10px;
	cursor: pointer;
	height: 35px;
}
.edit-icon {
    color:white;
}
.game-item {
    width: 100%;
}

.edit-tools {
    display: flex;
}
.edit-opt {
    border-radius: 12px;
	height: 150px;
	margin-top: -25px;
	float: left;
    margin-right: 2%;
    margin-left: 5%;
    height: 100px;
    text-align: center;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.edit-opt-delete {
    background-color:rgb(189, 44, 44);
    color:white;
}

.edit-opt-edit {
    background-color:white;
}

.edit-opt:hover {
    margin-top: -35px;
}

.opt-text {
    padding-top:25%;
}

.no-picks-view {
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	height: 250px;
	margin-top:20%;
}

@keyframes weekCardAnimationIn {
	0%{margin-top:1000px;opacity:0;}
	100%{margin-top:10px; opacity: 1}
}

@keyframes weekCardAnimationOut {
	0%{margin-top:10px; opacity: 100;}
	100%{margin-top:1000px; opacity: 0;}
}

#week-card {
	padding: 2px;
	background-color: #eaeaea;
	border-radius: 24px;
	margin: 10px;
}

.week-in-animation {
	animation-name:weekCardAnimationIn;
	animation-timing-function: ease-in-out;
	animation-duration: .75s;
}

.week-out-animation {
	animation: forwards;
	animation-name:weekCardAnimationOut;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

.week-header {
	display: flex;
	flex-direction: row;
	align-items:start;
}

.week-title {
	font-size:1.5em;
	width: 45%;
	margin:8px;
}

.week-arrow-icon {
	transform: scale(1.5);
	cursor: pointer;
}