<div class="game-card" attr.id={{game.id}}-game-card>
  <div  class="icon-group">
    <mat-icon class="status-icon" *ngIf="game.inProgress == false">
      lock_open
    </mat-icon>
    <mat-icon class="status-icon" *ngIf="game.inProgress == true">
        lock
    </mat-icon>
    <div attr.id="{{game.awayTeam}}-team-card" class="game-card-icon" 
    [ngStyle]="getBorderColor(game.awayTeam)" 
    (click)="selectTeam(game.awayTeam, game)">
      <p style="margin-left:5px">AWAY</p>
      <p class="large-text">{{getTeamName(game.awayTeam)}}</p>
    </div>
    <div attr.id="{{game.homeTeam}}-team-card" class="game-card-icon" 
    [ngStyle]="getBorderColor(game.homeTeam)" 
    (click)="selectTeam(game.homeTeam, game)">
      <p style="margin-left:5px">HOME</p>
      <p class="large-text">{{getTeamName(game.homeTeam)}}</p>
    </div>
    <div class="game-card-spread">
      <p>SPREAD</p>
      <p class="medium-text">{{game.spread}}</p>
    </div>
  </div>
  <div style="width: 100%">
    <div class="game-card-date">
      <div class="date-text">
        {{game.date}}
      </div>
    </div>
  </div>
</div>
