<div *ngFor="let game of games">
  <mat-card class="game-card">
    <div attr.id={{game.id}}-game-card class="icon-group">
      <mat-card class="game-card-status">
        <p>STATUS</p>
        <p>{{game.number}}</p>
      </mat-card>
      <div attr.id="{{game.awayTeam}}-team-card" class="game-card-icon" [ngStyle]="getBorderColor(game.awayTeam)" (click)="selectTeam(game.awayTeam)">
      	<p style="margin-left:5px">AWAY</p>
        <p class="large-text">{{getTeamName(game.awayTeam)}}</p>
      </div>
      <div attr.id="{{game.homeTeam}}-team-card" class="game-card-icon" [ngStyle]="getBorderColor(game.homeTeam)" (click)="selectTeam(game.homeTeam)">
        <p style="margin-left:5px">HOME</p>
        <p class="large-text">{{getTeamName(game.homeTeam)}}</p>
      </div>
      <mat-card class="game-card-spread">
        <p>SPREAD</p>
        <p class="medium-text">{{game.spread}}</p>
      </mat-card>
    </div>
    <mat-card-content>
      <div class="game-card-date">
        <div class="date-text">
          {{game.date}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
