<div class="title">
    WEEKLY GAMES
</div>
<div *ngIf="weeksView == false">
    <div id="week-card" class="week-in-animation">
        <div class="week-header">
            <div class=week-title>
                 WEEK {{week.number}}
            </div>
            <mat-icon class="week-arrow-icon" (click)="showWeeks()">
                keyboard_arrow_up
            </mat-icon>
        </div>
        <game *ngFor="let game of games"
            [game] = "game"
            [submitOpened] = "submitOpened"
            (openSubmit) = "teamClicked($event)"
            (stageSelectedPick) = "stageSelectedPick($event)">
        </game>
    </div>
    <div id="submit-container">
        <mat-icon id="submit-icon" (click)="showSubmit()">call_made</mat-icon>
        <button mat-raised-button id="submit-button" (click)="openDialog()">
        submit
        </button>
    </div>
</div>
<div *ngIf="weeksView">
    <weeks>
    </weeks>
</div>
