#submit-container {
    position: fixed;
	bottom: 10%;
	width: 200px;
	right: -150px;
    background-color: rgba(0, 0, 0, 0.64);
    border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	height: 60px;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	display:flex;
}

#submit-button {
    border-radius: 8px;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 10%;
}

#submit-button:hover {
	background: lightgray;
	cursor: pointer;
}

#submit-icon {
	padding-top:12px;
	margin-left:4%;
	color:white;
	transform: scale(1.5);
	cursor: pointer;
}