#submit-container {
    position: fixed;
	bottom: 10%;
	width: 200px;
	right: -150px;
    background-color: rgba(0, 0, 0, 0.64);
    border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	height: 60px;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	display:flex;
}

#submit-button {
	border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    background-color: #e69033;
    border-color:  #e69033;
    width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 10%;
    color: white;
}

#submit-button:hover {
	background-color: lightgrey;
	border-color:  lightgrey;
	cursor: pointer;
}

#submit-icon {
	padding-top:12px;
	margin-left:4%;
	color:white;
	transform: scale(1.5);
	cursor: pointer;
}

@keyframes weekCardAnimation {
	0%{margin-top:1000px;opacity:0;}
	90%{margin-top:0px; opacity: .9;}
	100%{margin-top:10px; opacity: 1}
}

.week-card {
	padding: 2px;
	background-color: white;
	border-radius: 24px;
	margin: 10px;
	animation-name:weekCardAnimation;
	animation-duration: .75s;
}

.week-header {
	display: flex;
	flex-direction: row;
	align-items:start;
}

.week-title {
	font-size:1.5em;
	width: 45%;
	margin:8px;
}

.week-arrow-icon {
	transform: scale(1.5);
	cursor: pointer;
}

.week-cards {
	padding: 2px;
	background-color: white;
	border-radius: 24px;
	margin: 20px;
	box-shadow: 4px -2px 20px 3px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	margin-bottom: -225px;
	height: 250px;
	font-size: 1.5em;
	padding: 10px;
	cursor: pointer;
}
.week-cards:hover{
	margin-top: -50px;
}