<div class="title">
    WEEKLY GAMES
</div>
<div *ngIf="weeksView == false">
    <div id="week-card" class="week-card week-in-animation body-color-primary">
        <div class="week-header" (click)="showWeeks()">
            <div class="circle-container body-color-primary">
              <mat-icon class="week-arrow-icon">
                  keyboard_arrow_up
              </mat-icon>
            </div>  
        </div>
        <div class=week-title>
            WEEK {{week.number}}
        </div>
        <game *ngFor="let game of games"
            [game] = "game"
            [submitOpened] = "submitOpened"
            (openSubmit) = "teamClicked($event)"
            (stageSelectedPick) = "stageSelectedPick($event)">
        </game>
    </div>
    <div id="submit-container">
        <mat-icon id="submit-icon" (click)="showSubmit()">call_made</mat-icon>
        <button mat-raised-button id="submit-button" class="accent-color-primary" (click)="openDialog()">
        submit
        </button>
    </div>
</div>
<div *ngIf="weeksView">
    <weeks>
    </weeks>
</div>
