#submit-container {
    position: fixed;
	bottom: 10%;
	width: 200px;
	right: -150px;
    background-color: rgba(0, 0, 0, 0.64);
    border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	height: 60px;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	display:flex;
}

#submit-button {
    border-radius: 8px;
	background: linear-gradient(to right, #f857a6, #ff5858);;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 10%;
    color: white;
}

#submit-button:hover {
	background: lightgray;
	cursor: pointer;
}

#submit-icon {
	padding-top:12px;
	margin-left:4%;
	color:white;
	transform: scale(1.5);
	cursor: pointer;
}

@keyframes weekCardAnimationIn {
	0%{margin-top:1000px;opacity:0;}
	100%{margin-top:10px; opacity: 1}
}

@keyframes weekCardAnimationOut {
	0%{margin-top:10px; opacity: 100;}
	100%{margin-top:1000px; opacity: 0; visibility: hidden}
}

#week-card {
	padding: 2px;
	background-color: #eaeaea;
	border-radius: 24px;
	margin: 10px;
}

.week-in-animation {
	animation-name:weekCardAnimationIn;
	animation-timing-function: ease-in-out;
	animation-duration: .75s;
}

.week-out-animation {
	animation: forwards;
	animation-name:weekCardAnimationOut;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

.week-header {
	display: flex;
	flex-direction: row;
	align-items:start;
}

.week-title {
	font-size:1.5em;
	width: 45%;
	margin:8px;
}

.week-arrow-icon {
	transform: scale(1.5);
	cursor: pointer;
}