<div class="card base-background tiertary">
    <div class="card-section secondary">
        <div class="info-content">
          <div class="pick-progress-container">
            <div class="pick-progress-group">
              <div class="pick-progress-numbers">
                <div>Pick Count</div>
                <div class="medium-font">{{ pickProgress }} / {{ maxTotalPicks }}</div>
              </div>
              <mat-progress-bar mode="determinate" value="{{ pickProgressBar }}"></mat-progress-bar>
            </div>
            <div class="picks-stat-card-group">
              <div class="pick-stat-card tiertary">
                <div class="large-font secondary">{{ userStandings.ranking }}</div>
                <div class="secondary">rank</div>
              </div>
              <div class="pick-stat-card tiertary">
                <div class="large-font secondary">{{ userStandings.wins }}</div>
                <div class="secondary">wins</div>
              </div>
              <div class="pick-stat-card tiertary">
                <div class="large-font secondary">{{ userStandings.win_pct * 100 | number:'1.1-1'}}</div>
                <div class="secondary">win %</div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
