.example-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #E0E0E0;
}

.header  {
	flex: 1;
}

h1.title {
	margin-right: 10px;
}

.title-header {
	width:100%;
	text-align: right;
	display: flex;
	justify-content:flex-end;
}

.sidenav-button {
	float:right;
}

.nav-title {
	text-align: center;
	margin-left: 10%;
	border-bottom: solid lightgrey 1px;
	width:80%;
}

h1.nav-text-title {
	margin-bottom:10px;
}

.sidenav {
	border-radius: 0px 6px 6px 0px;
	width:40%;
}
nav {
	text-align: center;
}

nav a {
	width:90%;
  padding: 5px 10px;
  margin-top: 10px;
	display: inline-block;
	border-style:solid;
	border-radius: 8px;
	border-color:lightgrey;
	border-width:1px;
	font-size: 2em;
	text-align:center;
	text-underline-position: unset;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}