<mat-toolbar class="tiertary-background nav-container">
    <div class="title-group">
        <button mat-icon-button (click)="toggleSideNav()">
            <mat-icon class="sidenav-button primary">menu</mat-icon>
        </button>
        <div *ngIf="messages != 0" class="notification-icon failure-background">
        </div>
        <div class="primary main">
            {{ title }}
        </div>
        <div class="secondary">
            {{ subtitle }}
        </div>
    </div>
    <button mat-button *ngIf="!edit && showEditButton" class="edit-button tiertary-background secondary" (click)="editPicks()">
        edit
    </button>
    <button mat-button *ngIf="edit && showEditButton" class="edit-button tiertary-background secondary" (click)="submitEdits()">
        done
    </button>
</mat-toolbar>
