<mat-toolbar class="base-background nav-container" (window:resize)="onResize($event)">
    <div class="title-group">
        <button *ngIf="!largeScreen" mat-icon-button (click)="toggleSideNav()">
            <mat-icon class="sidenav-button primary">menu</mat-icon>
        </button>
        <div *ngIf="messages && !largeScreen" class="notification-icon failure-background">
        </div>
        <div class="primary main">
            {{ title }}
        </div>
    </div>
    <div class="subtitle-group">
        <div class="secondary subtitle">
            {{ subtitle }}
        </div>
    </div>
    <span *ngIf="!subDisplayEditButton" ></span>
    <div class="button-group">
        <button mat-button *ngIf="!edit && subDisplayEditButton" class="edit-button base-background primary" (click)="editPicks()">
            <span class="primary">Edit</span>
        </button>
        <button mat-button *ngIf="edit && subDisplayEditButton" class="edit-button primary-background base" (click)="submitEdits()">
            <span class="base" *ngIf="!loadingEdits">Done</span>
            <div class="edit-loader" *ngIf="loadingEdits">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
        </button>
    </div>
</mat-toolbar>
