<div *ngIf = "picks.length == 0 && loader">
  <picks-loader></picks-loader>
</div>
<div *ngIf = "picks.length == 0 && !loader" class="no-picks-view secondary">
  No Picks Made
</div>
<div *ngIf="picks.length > 0" class="games-container">
  <ng-container *ngFor="let myGame of myGames, let i = index">
    <div *ngIf="showSubmitTime(i)" class="full-row">
      <div class="game-card-date">
        <div class="date-text primary">
          Submit by: {{ submitDate(myGame) }}
        </div>
      </div>
    </div> 
    <div attr.id="game-container-{{myGame.game_id}}" class="game-container">
      <game
        [game] = "myGame"
        [notSelectablePicks] = "notSelectablePicks" 
        [pick] = "getPickByGame(myGame)"
        [userGamePicks] = "weekUserPicks[myGame.game_id]"
        [teams] = "myTeams"
        (click) = "changeTeam(myGame)">
      </game>
      <div *ngIf="showEdit(myGame)" class="edit-tools" @slideDownAnimation>
        <div attr.id="delete-{{myGame.game_id}}" class="edit-opt edit-icon-delete bottom-margin failure base-background" (click) = "deletePick(myGame)">
          <mat-icon
            matTooltip="delete"
            matTooltipPosition="bottom"
            class="failure">delete
          </mat-icon>
        </div>
      </div>
    </div>
    <div class="separator tiertary"></div>
  </ng-container>
</div>
<div [ngClass]="{'large-height':myGames.length < 3, 'small-height':myGames.length != 0}">
</div>