.user-modal {
	display: flex;
	position: fixed;
	flex-direction: column;
	bottom: 0;
	height:70%;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	width: 100%;
	z-index: 3;
}

.init-icon {
    display: flex;
    justify-content: center;
    border: solid 2px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 10px;
    font-size: 1em;
}

.card-header-text {
	margin-top: 20px;
	font-size:1.5em;
    margin: 10px;
}

.modal-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
}

.modal-header {
	padding-top: 10px;
	padding-left: 10px;
	display: flex;
	justify-content: flex-start;
}

.modal-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.user-name {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.modal-content {
	padding:10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
}

.view-picks-button {
    border:  1px solid;
    border-radius: 4px;
	cursor: pointer;
	margin: 10px;
}

.no-picks {
	padding: 10px;
	display: flex;
	justify-content: center;
	font-size: 2em;
}

.team-picks {
	margin: 10px;
}

.close-modal-icon {
	cursor: pointer;
	padding: 10px;
}

@media only screen and (min-width: 650px) {
	.user-modal {
		width: calc(100% - 300px);
	}

	.modal-container {
		left: 300px;
		width: calc(100% - 300px);
	}
}