<div class="register-container">
  <div class="title-container">
    <mat-icon class="back-button" (click)="cancel()">
      keyboard_arrow_left
    </mat-icon>
    <div class="register-title">{{ formType | titlecase }}</div>
  </div>
  <form [formGroup]="editUserForm" (ngSubmit)="submit(editUserForm.value)">
    <div  class="input-form">

      <mat-form-field appearance="outline" class="input-size">
        <mat-label>Username</mat-label>
        <textarea *ngIf="editUser" matInput placeholder="Username" formControlName="username">{{ user.user_name }}</textarea>
        <input *ngIf="!editUser" matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-size">
        <mat-label>First Name</mat-label>
        <textarea *ngIf="editUser" matInput placeholder="First Name" formControlName="firstName">{{ user.first_name }}</textarea>
        <input *ngIf="!editUser" matInput placeholder="First Name" formControlName="firstName" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-size">
        <mat-label>Last Name</mat-label>
        <textarea *ngIf="editUser" matInput placeholder="Last Name" formControlName="lastName">{{ user.last_name }}</textarea>
        <input *ngIf="!editUser" matInput placeholder="Last Name" formControlName="lastName" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-size">
        <mat-label>Email</mat-label>
        <textarea *ngIf="editUser" matInput placeholder="Email" formControlName="email">{{ user.email }}</textarea>
        <input *ngIf="!editUser" matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="editUserForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      
      <mat-form-field *ngIf="editUser" appearance="outline" class="input-size">
        <mat-label>Current Password</mat-label>
        <input matInput placeholder="current password" [type]="hide ? 'password' : 'text'" formControlName="currentPassword" required>
        <div matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-size">
        <mat-label>Password</mat-label>
        <input *ngIf="editUser" matInput placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <input *ngIf="!editUser" matInput placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <div matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-size">
        <mat-label>Confirm Password</mat-label>
        <input *ngIf="editUser" matInput placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
        <input *ngIf="!editUser" matInput placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
        <div matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button class="register-button primary-background base" type="submit">
          {{ formType }}
      </button>
    </div>
  </form>
</div>
