<div class="picks-data-container accent">
    <div class="picks-data-overview" *ngIf="!showPickers" (click)="picksDataClick()">
        <div class="pick-data" name="away">
            <mat-icon class="pick-data-icon">
                people_alt
            </mat-icon>
            <div class="pick-data-icon">
                {{ awayPicks.length }}
            </div>
        </div>
        <div class="pick-data" name="home">
            <mat-icon class="pick-data-icon">
                people_alt
            </mat-icon>
            <div class="pick-data-icon">
                {{ homePicks.length }}
            </div>
        </div>
    </div>
    <div class="picks-data-users" *ngIf="showPickers">
        <div class="users-column">
            <div class="user-item" *ngFor="let pick of awayPicks" (click)="setUserModal(pick)">
                {{ pick.first_name }} {{pick.last_name.substring(0,1)}}.
            </div>
        </div>
        <div class="users-column">
            <div class="user-item" *ngFor="let pick of homePicks" (click)="setUserModal(pick)">
                {{ pick.first_name }} {{pick.last_name.substring(0,1)}}.
            </div>
        </div>
    </div>
    <div *ngIf="showPickers" (click)="closePicksData()" class="show-less-button secondary">
        <div>
            <mat-icon class="close-modal-icon">expand_less</mat-icon>
        </div>
        Show Less
    </div>
</div>
