<nav-bar
    [title] ="'Messages'">
</nav-bar>
<div class="content">
    <div class="message-container">
        <div *ngIf = "messages.length == 0 && loader">
            <picks-loader></picks-loader>
        </div>
        <div *ngFor="let message of messages" class="card base-background tiertary">
            <div class="date-title tiertary">
                <span class="date-text primary">
                    {{ formatDate(message.date) }}
                </span>
            </div>
            <div class="content secondary">{{ message.message }}</div>
        </div>
    </div>
</div>


