body,html {
    font-family: Helvetica Neue, sans-serif
}

@keyframes titleSlide {
    0%{margin-top: -200px; opacity: 0;}
    90%{margin-top:30px; opacity: .9;}
	100%{margin-top:20px; opacity: 1}
}

@keyframes weekCardAnimationIn {
	0%{margin-top:1000px;opacity:0;}
	100%{margin-top:10px; opacity: 1}
}

@keyframes weekCardAnimationOut {
	0%{margin-top:10px; opacity: 100;}
	100%{margin-top:1000px; opacity: 0;}
}

.title{
    margin: 20px;
    font-size: 2em;
}

.highlight-border {
    border: solid 5px !important;
}

.disabled {
    opacity: .6;
}

.circle-container {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	text-align: center;
	margin-top: -30px;
	cursor: pointer;
}

.noSelect {
    outline: none !important;
}

/*-----------TEAM COLORS----------*/

.ruby {
    color: #97233f;
}

.burgundy {
    color: #a71931;
}

.teal {
    color: #006678;
}

.carolina-blue {
    color: #0087CA;
}

.star-command-blue {
    color: #0076b6;
}

.air-force-blue {
    color: #00348d;
}

.midnight-blue{
    color:#1a195f;
}

.eerie-black {
    color: #0b162a
}

.jungle-green {
    color: #183028;
}

.orange {
    color: #fb4f14;
}

.brown {
    color: #A5673F;
}

.amaranth-red {
    color: #cf2233;
}

.violet {
    color: #4f2683;
}

.red {
    color: #DB2828;
}

.blue {
    color: #2185D0;
}

.navy {
    color: #124971;
}

.tan {
    color: #d3bc8d;
}

.midnigh-green {
    color: #004c54;
}

.gold {
    color: #ffb612;
}

.lime-green {
    color: #69be28;
}

.grey {
    color: #767676;
}

.olive {
    color: #B5CC18;
}

.green {
    color: rgb(2, 114, 2);
}

.yellow {
    color: #FBBD08;
}



.purple {
    color: #A333C8;
}



.red-background {
    background-color: #DB2828;
}

.blue-background {
    background-color: #2185D0;
}

.teal-background {
    background-color: #00B5AD;
}

.orange-background {
    background-color: #F2711C;
}

.grey-background {
    background-color: #767676;
}

.olive-background {
    background-color: #B5CC18;
}

.green-background {
    background-color: rgb(2, 114, 2);
}

.yellow-background {
    background-color: #FBBD08;
}

.brown-background {
    background-color: #A5673F;
}

.purple-background {
    background-color: #A333C8;
}

.violet-background {
    background-color: #6435C9;
}

.navy-background {
    background-color: #124971;
}


.success {
    color: #21BA45;
}

.failure {
    color: rgb(228, 46, 46);
}

.warn {
    color: #ca7220;
}

.failure-background {
    background-color: rgb(228, 46, 46);
}