/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
* { font-family: Comfortaa, sans-serif}
body { margin: 0;}

@keyframes titleSlide {
    0%{margin-top: -200px; opacity: 0;}
    90%{margin-top:30px; opacity: .9;}
	100%{margin-top:20px; opacity: 1}
}

.title{
    margin: 20px;
    font-size: 2em;
	animation-name:titleSlide;
	animation-duration: .5s;
}

.main-card {
    border-radius: 24px;
}

.sub-card {
    border-radius: 18px;
}

.body-color-primary {
    background-color:rgb(236, 235, 235) !important;
    color: black !important;
}

.body-color-secondary {
    background-color: white;
    color: black;
}

.accent-color-primary {
    background: linear-gradient(to right, #f857a6, #ff5858);
    color: white;
}

.accent-color-secondary {
    background-color: #f857a6;
    color:white;
}

.accent-color-tietary {
    background-color: #ff5858;
    color:white;
}

.success-color {
    background-color: lightgreen;
    color:white;
}

.failure-color {
    background-color: rgb(228, 46, 46);
    color:white;
}


