/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
* { font-family: Comfortaa, sans-serif}
body { margin: 0;}

@keyframes titleSlide {
    0%{margin-top: -200px; opacity: 0;}
    90%{margin-top:30px; opacity: .9;}
	100%{margin-top:20px; opacity: 1}
}

@keyframes weekCardAnimationIn {
	0%{margin-top:1000px;opacity:0;}
	100%{margin-top:10px; opacity: 1}
}

@keyframes weekCardAnimationOut {
	0%{margin-top:10px; opacity: 100;}
	100%{margin-top:1000px; opacity: 0;}
}
.title{
    margin: 20px;
    font-size: 2em;
	animation-name:titleSlide;
	animation-duration: .5s;
}

.body-color-primary {
    background-color:white !important;
    color: black !important;
}

.body-color-secondary {
    background-color: white;
    color: black;
}

.accent-color-primary {
    background: #3e5dce;
    color: white;
}

.accent-color-secondary {
    background-color: rgb(150, 157, 165);
    color:black;
}

.accent-color-tietary {
    background-color: rgb(198, 203, 210);
    color:black;
}

.success-color {
    background-color: lightgreen !important;
    color:white;
}

.failure-color {
    background-color: rgb(228, 46, 46);
    color:white;
}

.disabled {
    opacity: .6;
}

.circle-container {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	text-align: center;
	margin-top: -30px;
	cursor: pointer;
}


