<!-- <object *ngIf="getLoader() == 'light'"
    class="loader-size"
    type="image/svg+xml" 
    data="../../../assets/icons/pickem_logo_loader_light.svg">
<object *ngIf="getLoader() == 'dark'"
    class="loader-size"
    type="image/svg+xml" 
    data="../../../assets/icons/pickem_logo_loader_dark.svg"> -->
<div *ngIf="getLoader() == 'dark'" class="loader-size">
    <svg id="e5ajmu7shu9a1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-0.500000 -0.500000 242 182" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
        <g id="e5ajmu7shu9a2">
           <g id="e5ajmu7shu9a3_to" transform="translate(120,60)">
              <rect id="e5ajmu7shu9a3" width="40" height="120" rx="20" ry="20" transform="translate(-20,-60)" fill="rgb(62,206,122)" stroke="none" stroke-width="1"/>
           </g>
           <g id="e5ajmu7shu9a4_to" transform="translate(70,55)">
              <rect id="e5ajmu7shu9a4" width="40" height="110" rx="20" ry="20" transform="translate(-20,-55)" fill="rgb(62,206,122)" stroke="none" stroke-width="1"/>
           </g>
           <g id="e5ajmu7shu9a5_to" transform="translate(20,50)">
              <rect id="e5ajmu7shu9a5" width="40" height="100" rx="20" ry="20" transform="translate(-20,-50)" fill="rgb(62,206,122)" stroke="none" stroke-width="1"/>
           </g>
           <rect id="e5ajmu7shu9a6" width="40" height="180" rx="20" ry="20" transform="matrix(1 0 0 1 150 0)" fill="rgb(173,187,201)" stroke="none" stroke-width="1"/>
           <g id="e5ajmu7shu9a7_to" transform="translate(217.347504,55)">
              <path id="e5ajmu7shu9a7" d="M200,55L200,30Q200,15,210.610000,25.610000L229.390000,44.390000Q240,55,229.390000,65.610000L210.610000,84.390000Q200,95,200,80Z" transform="translate(-217.347504,-55)" fill="rgb(173,187,201)" stroke="none" stroke-width="1"/>
           </g>
        </g>
    </svg>
</div>
<div *ngIf="getLoader() == 'light'" class="loader-size">
    <svg id="e5ajmu7shu9a1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-0.500000 -0.500000 242 182" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
        <g id="e5ajmu7shu9a2">
           <g id="e5ajmu7shu9a3_to" transform="translate(120,60)">
              <rect id="e5ajmu7shu9a3" width="40" height="120" rx="20" ry="20" transform="translate(-20,-60)" fill="rgb(62,93,206)" stroke="none" stroke-width="1"/>
           </g>
           <g id="e5ajmu7shu9a4_to" transform="translate(70,55)">
              <rect id="e5ajmu7shu9a4" width="40" height="110" rx="20" ry="20" transform="translate(-20,-55)" fill="rgb(62,93,206)" stroke="none" stroke-width="1"/>
           </g>
           <g id="e5ajmu7shu9a5_to" transform="translate(20,50)">
              <rect id="e5ajmu7shu9a5" width="40" height="100" rx="20" ry="20" transform="translate(-20,-50)" fill="rgb(62,93,206)" stroke="none" stroke-width="1"/>
           </g>
           <rect id="e5ajmu7shu9a6" width="40" height="180" rx="20" ry="20" transform="matrix(1 0 0 1 150 0)" fill="rgb(69,85,100)" stroke="none" stroke-width="1"/>
           <g id="e5ajmu7shu9a7_to" transform="translate(217.347504,55)">
              <path id="e5ajmu7shu9a7" d="M200,55L200,30Q200,15,210.610000,25.610000L229.390000,44.390000Q240,55,229.390000,65.610000L210.610000,84.390000Q200,95,200,80Z" transform="translate(-217.347504,-55)" fill="rgb(69,85,100)" stroke="none" stroke-width="1"/>
           </g>
        </g>
    </svg>
</div>