/*<-------COLORS-------->*/

.primary {
    color:  #3e5dce;
}

.secondary {
    color: #455564 !important;
}

.tiertary {
    color: rgb(235, 235, 235) !important;
}

.base {
    color: white !important;
}

.primary-background {
    background-color:  #3e5dce !important;
}

.secondary-background {
    background-color: #455564 !important;
}

.tiertary-background {
    background-color: rgb(235, 235, 235) !important;
}

.base-background {
    background-color: white !important;
}

.success {
    color: green;
}

.failure {
    color: rgb(228, 46, 46);
}

.warn {
    color: #ca7220;
}

