
/*<-------DARK COLORS-------->*/
.primary {
    color:  #3ece7a !important;
}

.primary-light {
    color: #3ece7a29 !important;
}

.secondary {
    color: #adbbc9 !important;
}

.tiertary {
    /* color: rgb(49, 46, 70) !important; */
    color: rgb(53, 53, 53) !important;
}

.tiertary-light {
    color: #151515 !important;
}

.quaternary {
    color: #151515 !important;
}

.base {
    color: black !important
    /* color:rgb(27, 26, 37) !important; */
}

.primary-background {
    background-color:  #3ece7a !important;
}

.primary-light-background {
    background-color: #3ece7a29 !important;
}

.secondary-background {
    background-color: #adbbc9 !important;
}

.tiertary-background {
    /* background-color: rgb(49, 46, 70) !important; */
    background-color: rgb(53, 53, 53) !important;
}

.tiertary-light-background {
    background-color: #151515 !important;
}

.quaternary-background {
    background-color: #151515 !important;
}

.base-background {
    background-color: black !important;
    /* background-color: rgb(27, 26, 37) !important; */
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke:  #3ece7a !important;
}

.mat-progress-bar-fill::after {
    background-color: #3ece7a !important;
}

.mat-progress-bar-buffer {
    background-color: rgb(49, 46, 70) !important;
}