
/*<-------DARK COLORS-------->*/
.primary {
    color:  #3ece7a;
}

.secondary {
    color: #adbbc9 !important;
}

.tiertary {
    color: rgb(17, 16, 24) !important;
}

.base {
    color:rgb(27, 26, 37) !important;
}

.primary-background {
    background-color:  #3ece7a !important;
}

.secondary-background {
    background-color: #adbbc9 !important;
}

.tiertary-background {
    background-color: rgb(17, 16, 24) !important;
}

.base-background {
    background-color: rgb(27, 26, 37) !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke:  #3ece7a !important;
}