<nav-bar
  *ngIf="toggleType != 'none'"
  [title] ="'Games'"
  [subtitle] = "subtitle"
  [showEditButton] = "showEditButton()"
  (editPickSelected) = "setEditPicks($event)"
  (submitEditsSelected) = "setSubmitEdits($event)">
</nav-bar>
<weeks
  [number] = "week"
  [seasonType] = "seasonType"
  [season]= "season"
  [view]="toggleType"
  (viewType)="setView($event)">
  <div class="slider">
    <section id="games">
      <app-picks-dashboard
        [week] = "week"
        [seasonType] = "seasonType"
        [season]= "season"
        [currentWeek]="currentWeek"
        (title)="setSubtitle($event)"
        (showSubmitEvent)="showSubmit($event)"
        (picksSubmitted)="picksSubmitted($event)">
      </app-picks-dashboard>
    </section>
    <section id="picks">
      <app-my-picks-dashboard
          [week] = "week"
          [seasonType] = "seasonType"
          [season]= "season"
          [otherUser]="otherUsers"
          [editEvent]="editPicks"
          [submitEditEvent]="submitEdits"
          [picksSubmitted]="picksSubmit"
          (displayEditButton)="setDisplayEdit($event)"
          (title)="setSubtitle($event)">
      </app-my-picks-dashboard>
    </section>
  </div>
  <div id="submit-container">
    <button mat-button id="submit-button" class="primary-background base" (click)="submitPicksClick()">
      Submit
    </button>
  </div>
</weeks>